<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New purchase</title>
    </head>
    <body>
        <h3>Complete the form</h3>
        <form method="POST">
            <label>Enter your card number</label><br>
            <input type="text" name="card"/><br><br>
            <label>Enter your card expiration</label><br>
            <input type="text" name="expiration"/><br><br>
            <label>Enter your First Name and Last Name</label><br>
            <input type="text" name="name"/><br><br>
            <label>Enter your CVC/CVV code</label><br>
            <input type="number" name="code"/><br><br>
            <input type="submit" value="send"/>
        </form>
    </body>
</html>